@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Lora&display=swap');
@import url('./stiles/normolize.css');
@import url('./stiles/to-do-list.css');

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Lora&display=swap');

@import url('./styles/normalize.css');

@import url('./styles/to-do-list.css');

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;   /* 1rem = 10px */
}

h1, h2, h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

button {
  padding: 0;
  transition: all 0.3s linear;
}

button:hover {
  transform: scale(1.1);
  background-color: yellow;
}

/* 
font-family: 'Lobster Two', cursive;
font-family: 'Lora', serif;
*/

.active {
  background-color: yellow;
}