.to-do-list {
    margin: 0 auto;
    max-width: 60rem;
    border: 1px solid red;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.to-do-list__title {
    font-family: 'Lobster Two', cursive;
    font-size: 7rem;
    margin-bottom: 3rem;
}

.to-do-list__form_type_add-task {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 95px 0 50px;
    column-gap: 20px;
    margin-bottom: 5rem;
}

.to-do-list__input_type_add-task {
    min-width: 30rem;
    padding: 10px;
    font-size: 1.8rem;
    font-family: 'Lora', serif;
    outline: none;
    text-overflow: ellipsis;
}

.to-do-list__button_type_add-task {
    font-family: 'Lora', serif;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 10px;
    height: 100%;
    padding: 7px 15px;
    font-size: 1.8rem;
    font-weight: 600px;
    box-shadow: 0px 0px 15px -5px rgba(7, 7, 7, 0.2);

}

button {
    padding: 0;
    transition: all 0.3s linear;
}
button:hover {
    transform: scale(1.1);
    background-color: yellow;
}


.to-do-list__form_task_list, .to-do-list__task_list {
width: 100%;
}
.to-do-list__task_list {
    max-height: 38rem;
    overflow-y: auto;

}


.to-do-list__task_item {
    padding: 0 5 px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 3rem;
}

.to-do-list__input_task-item {
    border: none;
    border-bottom: 1px solid black;
    height: 5rem;
    width: 100%;
    font-size: 1.8rem;
    padding: 1rem;
    font-family: 'Lora', serif;
    outline: none;
    text-overflow: ellipsis;
}

.to-do-list__input_task-item:focus {
    background-color: yellow;
}

.to-do-list__task-item-number {
    font-size: 2.5rem;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 1rem;
    background-color: #fff;
    flex-shrink: 0;
    font-family: 'Lora', serif;
}

.to-do-list__task_item-button {
    background: none;
    border: transparent;
    border: radius 10px;
    display: grid;
    place-items: center;
    height: 4rem;
    width: 4rem;
    flex-shrink: 0;
    box-shadow: 0px 0px 15px -8px rgba(34, 60, 80, 0.6);
}

.to-do-list__icon {
    width: 2rem;
    height: 2rem;
}

